body {
  width: 100vw;
  height: 100vh;
  background-color: dodgerblue;
}

body #container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #2a3038;
  width: 520px;
  -webkit-box-shadow: 0 0 40px #4e5864a6;
          box-shadow: 0 0 40px #4e5864a6;
}

body #container #todo-container {
  width: 100%;
}

body #container #todo-container #todo-categories {
  border-bottom: 1px solid #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 130px;
}

body #container #todo-container #todo-categories .category {
  height: 100%;
  line-height: 40px;
  color: #6a717a;
  font-size: 0.75rem;
  padding: 0 8px;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body #container #todo-container #todo-categories .category:hover {
  color: #c6cfd6;
}

body #container #todo-container #todo-categories .category-active {
  font-weight: 900;
  color: #c6cfd6;
  border-bottom: 2px solid dodgerblue;
  -webkit-transition: 0s;
  transition: 0s;
}

body #container #todo-container #todo-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 170px;
}

body #container #todo-container #todo-date i {
  color: #6a717a;
  font-size: 1.3rem;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body #container #todo-container #todo-date i:hover {
  color: #c6cfd6;
}

body #container #todo-container #todo-date .dates {
  text-align: center;
}

body #container #todo-container #todo-date .dates p {
  color: #c6cfd6;
  font-weight: 900;
}

body #container #todo-container #todo-date .dates span {
  color: #6a717a;
  font-size: 0.65rem;
  font-weight: 900;
}

body #container #add-list-container {
  width: 100%;
  padding: 0 40px;
}

body #container #add-list-container #todo-add-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #container #add-list-container #todo-add-container input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  background-color: #22272e;
  outline: none;
  border: 1px solid #1e2329;
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-size: 0.6rem;
  color: #c6cfd6;
}

body #container #add-list-container #todo-add-container i {
  background-color: #22272e;
  color: #6a717a;
  border: 1px solid #1e2329;
  border-left: none;
  height: 35px;
  width: 7%;
  font-size: 0.8rem;
  line-height: 35px;
  padding-right: 5px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body #container #add-list-container #todo-add-container i:hover {
  color: #c6cfd6;
}

body #container #add-list-container #todo-lists {
  padding: 20px 0 30px 0;
}

body #container #add-list-container #todo-lists .todo-list {
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

body #container #add-list-container #todo-lists .todo-list p {
  padding-left: 5px;
  color: #c6cfd6;
  font-size: 0.65rem;
}

body #container #add-list-container #todo-lists .todo-list .additinal-list {
  position: absolute;
  right: 0;
}

body #container #add-list-container #todo-lists .todo-list .additinal-list i {
  color: #6a717a;
  font-size: 0.7rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
  z-index: 1;
}

body #container #add-list-container #todo-lists .todo-list .additinal-list i:hover {
  color: #c6cfd6;
}

body #container #add-list-container #todo-lists .todo-list .additinal-list .additional-pocket {
  position: absolute;
  top: 25px;
  right: -6px;
  background-color: #3a3a3a;
  padding: 4px 12px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #242424;
          box-shadow: 0 0 3px #242424;
  z-index: 10;
  display: none;
}

body #container #add-list-container #todo-lists .todo-list .additinal-list .additional-pocket:before {
  content: "";
  position: absolute;
  left: 60px;
  top: -4px;
  width: 8px;
  height: 8px;
  background-color: #3a3a3a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body #container #add-list-container #todo-lists .todo-list .additinal-list .additional-pocket .additional-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
  cursor: pointer;
}

body #container #add-list-container #todo-lists .todo-list .additinal-list .additional-pocket .additional-box:hover span,
body #container #add-list-container #todo-lists .todo-list .additinal-list .additional-pocket .additional-box:hover i {
  color: #c6cfd6;
}

body #container #add-list-container #todo-lists .todo-list .additinal-list .additional-pocket .additional-box i {
  color: #aab0b6;
  font-size: 0.5rem;
  padding-right: 10px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

body #container #add-list-container #todo-lists .todo-list .additinal-list .additional-pocket .additional-box span {
  color: #aab0b6;
  font-size: 0.6rem;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
/*# sourceMappingURL=index.css.map */