$white-font-color: #c6cfd6;
$gray-font-color: #6a717a;

body {
  width: 100vw;
  height: 100vh;
  background-color: dodgerblue;
  #container {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2a3038;
    width: 520px;
    box-shadow: 0 0 40px #4e5864a6;
    #todo-container {
      width: 100%;
      #todo-categories {
        border-bottom: 1px solid rgb(40, 40, 40);
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        padding: 0 130px;
        .category {
          height: 100%;
          line-height: 40px;
          color: $gray-font-color;
          font-size: 0.75rem;
          padding: 0 8px;
          cursor: pointer;
          transition: 0.2s linear;
          &:hover {
            color: $white-font-color;
          }
        }
        .category-active {
          font-weight: 900;
          color: $white-font-color;
          border-bottom: 2px solid dodgerblue;
          transition: 0s;
        }
      }
      #todo-date {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        i {
          color: $gray-font-color;
          font-size: 1.3rem;
          cursor: pointer;
          transition: 0.2s linear;
          &:hover {
            color: $white-font-color;
          }
        }
        .dates {
          margin: 0 30px;
          p {
            color: $white-font-color;
            font-weight: 900;
          }
          // span {
          //   color: $gray-font-color;
          //   font-size: 0.65rem;
          //   font-weight: 900;
          // }
        }
      }
    }

    #todo-find-container {
      width: 100%;
      display: flex;
      margin-bottom: 7px;
      input {
        width: 100%;
        height: 35px;
        padding-left: 10px;
        background-color: #22272e;
        outline: none;
        border: 1px solid #1e2329;
        border-right: none;
        border-radius: 5px 0 0 5px;
        font-size: 0.6rem;
        color: $white-font-color;
      }
      i {
        background-color: #22272e;
        color: $gray-font-color;
        border: 1px solid #1e2329;
        border-left: none;
        height: 35px;
        width: 7%;
        font-size: 0.8rem;
        line-height: 35px;
        padding-right: 5px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: 0.2s linear;
        &:hover {
          color: $white-font-color;
        }
      }
    }
    #add-list-container {
      width: 100%;
      padding: 0 40px;
      #todo-add-container {
        width: 100%;
        display: flex;
        input {
          width: 100%;
          height: 35px;
          padding-left: 10px;
          background-color: #22272e;
          outline: none;
          border: 1px solid #1e2329;
          border-right: none;
          border-radius: 5px 0 0 5px;
          font-size: 0.6rem;
          color: $white-font-color;
        }
        i {
          background-color: #22272e;
          color: $gray-font-color;
          border: 1px solid #1e2329;
          border-left: none;
          height: 35px;
          width: 7%;
          font-size: 0.8rem;
          line-height: 35px;
          padding-right: 5px;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          transition: 0.2s linear;
          &:hover {
            color: $white-font-color;
          }
        }
      }
      #todo-lists {
        padding: 20px 0 30px 0;
        .todo-list {
          padding: 7px 0;
          display: flex;
          align-items: center;
          width: 100%;
          position: relative;
          p {
            padding-left: 5px;
            color: $white-font-color;
            font-size: 0.65rem;
          }
          .TODOS-dates {
            padding-left: 6px;
            font-size: 0.51rem;
            color: $gray-font-color;
          }
          .TODOS-id {
            color: transparent;
          }
          .additional-list {
            position: absolute;
            right: 0;
            i {
              color: $gray-font-color;
              font-size: 0.7rem;
              transition: 0.2s linear;
              padding: 5px 8px;
              cursor: pointer;
              z-index: 1;
              &:hover {
                color: $white-font-color;
              }
            }
            .additional-pocket {
              position: absolute;
              display: none;
              top: 25px;
              right: -6px;
              background-color: rgb(58, 58, 58);
              padding: 4px 12px;
              border-radius: 5px;
              box-shadow: 0 0 3px rgb(36, 36, 36);
              z-index: 10;
              &:before {
                content: "";
                position: absolute;
                left: 60px;
                top: -4px;
                width: 8px;
                height: 8px;
                background-color: rgb(58, 58, 58);
                transform: rotate(45deg);
              }
              .delete-box {
                display: flex;
                align-items: center;
                margin: 8px 0;
                cursor: pointer;
                &:hover span,
                &:hover i {
                  color: $white-font-color;
                }
                i {
                  color: #aab0b6;
                  font-size: 0.5rem;
                  padding-right: 10px;
                  transition: 0.1s linear;
                }
                span {
                  color: #aab0b6;
                  font-size: 0.6rem;
                  transition: 0.1s linear;
                }
              }
            }
          }
        }
      }
    }
  }
}
